@media only screen and (max-width:670px) {
    * {
        zoom:1;
        max-width: 670px !important;
    }

    .container {
        width: 650px;
        margin: 0 auto;
    }

    header {
        width: 650px;
        height: 65px;
        position: fixed;
        z-index: 10;
    }

    .poster {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .row img {
        width: 300px;
    }

    .deskripsi-1,
    .deskripsi-2 {
        padding: 0 10px;
    }

    .diff-content {
        width: 200px;
    }

    .schedule-wrapper .container {
        width: 600px;
        margin: 0 auto;
    }

    .about {
        width: 600px;
        margin: 0 auto;
    }

    .footer-wrapper .container{
        width: 550px;
        margin: 0 auto;
    }

    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        
    }

    table td:last-child {
        border-bottom: 0;
    }
}